*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body, #root{
    width: 100%;
    height: 100%;
    background-color: #090909;
    color: #fff;
}

// login css
main{
    min-height: 100vh;
    width: 100%;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-container h1{
    color: whitesmoke;
    font: bold;
}
form >div{
    margin: 10px;
}
label{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
#input-group >input{
    padding: 10px;
    border-radius: 25px;
    width: 250px;    
    border: none;
    outline: none;
}
.Primary-btn{
    padding: 8px 10px;
    background: rgb(202, 0, 77);
    color: white;
    border-radius: 20px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.Primary-btn:hover{
    background:rgb(156, 0, 60);
}
.Primary-btn:active{
    transform: scale(1.1);
}

main >p {
    margin: 0.2rem 0rem;
}
a{
    color: rgb(202, 0, 77);
    text-decoration: none;
}